.page {
    margin: 0 auto;
    padding-top: 28px;
    color: white;
    max-width: 1280px;
    min-width: 320px;
    outline: 1px red solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}