.photo-grid {
    padding: 0 48px;
    margin: 0 0 92px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}