.header__language-navigation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 18px;
}