.lead {
    margin: 0 auto;
    max-width: 984px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

@media (max-width: 1100px) {
    .lead {
        max-width: 928px;
    }
}

@media (max-width: 1023px) {
    .lead {
        max-width: 768px;
    }
}