.cover__size {
    max-width: 1184px;
    margin-bottom: 92px;
}

@media (max-width: 1024px) {
    .cover__size {
        max-width: 1024px;
    }
}

@media (max-width: 768px) {
    .cover__size {
        margin-bottom: 88px;
        max-width: 768px;
    }
}

@media (max-width: 320px) {
    .cover__size {
        margin-bottom: 64px;
    }
}