.header {
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* outline: 1px solid red; */
}

@media (max-width: 1023px) {
    .header {
        padding: 0 24px;
    }
}

@media (max-width: 765px) {
    .header {
        padding: 0 16px;
    }
}