.header {
    width: 100%;
    box-sizing: border-box;
    padding: 0 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding: 0 16px;
    }
}