.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    width: 100%;
    padding: 0 280px;
    margin: 0 0 32px;
    outline: 1px red solid;
    box-sizing: border-box;
}