.cover {
    width: 100%;
    margin: 92px auto;
    max-width: 1184px;
    box-sizing: border-box;
    background-image: url('../../images/cover-trains.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}