.page__section-places {
    margin-bottom: 92px;
}

@media (max-width: 768px) {
    .page__section-places {
        margin-bottom: 90px;
    }
}

@media (max-width: 320px) {
    .page__section-places {
        margin-bottom: 66px;
    }
}