.cover__title {
    display: block;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    padding: 0;
    margin: 0 auto 32px;
}

@media screen and (max-width: 650px) {
    .cover__title {
        font-size: 48px;
        line-height: 45px;
        margin: 0 auto 20px;
    }
}

@media screen and (max-width: 375px) {
    .cover__title {
        font-size: 40px;
        line-height: 40px;
        margin: 0 auto 18px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 16px;
        max-width: 288px;
    }
}